<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">BrandName</th>
          <th scope="col">Logo</th>
          <th scope="col">Description</th>
          <th scope="col">Action</th>


        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let brand of brands">
          <td>{{ brand.brandId }}</td>
          <td>{{ brand.brandName }}</td>
          <td>{{ brand.logo }}</td>
          <td>{{ brand.description }}</td>
          <!-- <td><button (click)="deleteBrand(brand.brandId)" class='btn btn-primary'><i class="fa fa-futboll-0">Delete</i></button>&nbsp;
            <button (click)="updateBrand(brand.brandId)" class='btn btn-info'
            data-toggle="modal" data-target="#myModal">Update</button>
          </td> -->
          <!-- <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
